body {
    margin: 0;
    padding: 0;
    width: 100%;
}

canvas {
    width: 800px;
    height: 600px;
    border: 5px solid black;
}

.invisible {
    display: none;
}

.modal-footer {
    display: inline;
}

#confirmPassword {
    transition: 0.5s;
}
