.box {
  margin: auto;
  width: 30%;
  border: 5px solid Black;
  padding: 10px;
  border-radius: 15px;
}

#center {
  text-align:center;
}

#startbutton {
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  color: white;
  background-color: red;
  border: none;
  border-radius: 15px;
}
